.App {
  text-align: center;
  font-size: 1.3rem;
}

/*Login - Start*/
#logInform {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#nameInput{
  margin-bottom: 20px;
}

#idInput{
  margin-bottom: 20px;
}

.loginInput.MuiButton-root{
  margin-top: 20px;
}

/*Login - End*/
.promContanier{
background-color: #F5F5F5;
}

.QuestionsSection{
  border: 1px solid lightgray;
  width:90%;
  margin: auto;
}

.question{
  background-color: #fff;
  margin:2rem;
  border:1px solid black;
  padding: 2rem 0;
}

.slideContainer{
  width: 300;
  margin-left: 35%;
  margin-top: 30px;
}

.navEl{
  margin: 2rem;
  font-size: 1.5rem;
}

.question{
  border-radius: 30px;
}