.App {
  text-align: center;
  font-size: 1.3rem;
}

/*Login - Start*/
#logInform{
width: 90%;
}
#logInform *{
  margin: 5vh auto;
  min-height: 10vh;
}
#logInform label{
  width: 20%;
  margin-right: 2% ;
}
#logInform input[type='text']{
  width: 75%;
}

#logInform input[type='submit']{
  display:block;
  margin: auto;
}

/*Login - End*/
.promContanier{
background-color:rgb(217, 238, 245);
}

.QuestionsSection{
  border: 1px solid lightgray;
  width:90%;
  margin: auto;
}

.question{
  background-color: white;
  margin:2rem;
  border:1px solid black;
  padding: 2rem 0;
}
.MuiBox-root , .css-1v5z18m{
  margin: auto;
}
.navEl{
  margin: 2rem;
  font-size: 1.5rem;
}